apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: go
  namespace: gy
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: go
  minReplicas: 1
  maxReplicas: 5
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 60
---
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: compare-worker
  namespace: gy
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: compare-worker
  minReplicas: 1
  maxReplicas: 10
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 70
---
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: payment-worker
  namespace: gy
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: payment-worker
  minReplicas: 1
  maxReplicas: 5
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 60

